---
import { Image } from "astro:assets";
---

<section
    class="section-hero bg-gray-50 py-10 lg:py-20 bg-no-repeat bg-cover relative overflow-hidden z-0"
>
    <Image
        src="/img/bg/bg0.webp"
        alt=""
        width={1200}
        height={600}
        loading="eager"
        fetchpriority="high"
        format="webp"
        quality={45}
        class="absolute inset-0 w-full object-cover object-center -z-10"
    />
    <div
        class="absolute inset-0 bg-white/80 dark:bg-black/80 md:bg-transparent -z-10"
    >
    </div>
    <div class="container z-10">
        <div class="sm:max-w-md md:max-w-xl text-center sm:text-left">
            <h1>Transformando vidas con amor, inclusión y oportunidades</h1>

            <div class="mt-6 flex grid-cols-2 gap-4 max-w-sm mx-auto sm:mx-0">
                <a
                    href="#"
                    class="btn bg-main border-main text-white rounded-lg hover:bg-green-600"
                    >¿Cómo puedo ayudar?</a
                >
                <a
                    href="#"
                    class="btn btn-outline hover:bg-white/10 hover:border-white rounded-lg"
                    >Trabaja con nosotros</a
                >
            </div>
        </div>
    </div>
</section>
