---
import { Image } from "astro:assets";
---

<section class="section section-1">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
            <div class="order-2 md:order-1">
                <h2>Nuestra Visión</h2>
                <p class="mb-6">
                    Ser una fundación reconocida por transformar vidas a través
                    de la solidaridad, la inclusión y la generación de
                    oportunidades, impactando positivamente a miles de familias
                    y convirtiéndonos en un referente de desarrollo social
                    sostenible en Colombia.
                </p>
            </div>
            <div class="order-1 md:order-2">
                <Image
                    src="/img/img1.webp"
                    alt=""
                    width="478"
                    height="421"
                    format="webp"
                    quality={45}
                    class="w-auto h-auto m-auto rounded-2xl object-cover object-center"
                />
            </div>
        </div>
    </div>
</section>
