---
import { NAV_MENU } from "../consts";
---

<nav class="hidden lg:block mx-auto">
  <ul class="menu menu-horizontal gap-x-1">
    {NAV_MENU.map((item) => (
      <li>
        <a
          href={item.url}
          class="text-sm font-medium px-3 py-2 rounded-lg hover:text-main hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors"
          data-i18n={item.key}
        >
          {item.key}
        </a>
      </li>
    ))}
  </ul>
</nav>
